pkgbase = oracle-xe
	pkgdesc = a non free DBMS
	pkgver = 18.1.0_1.0
	pkgrel = 4
	url = http://www.oracle.com/
	install = oracle.install
	arch = x86_64
	license = custom
	depends = libaio>=0.3.104
	depends = gcc>=4.1.2
	depends = binutils>=2.16.91.0.5
	depends = make>=3.80
	depends = glibc>=2.3.4-2.41
	depends = bc
	depends = net-tools
	provides = oracle-xe
	conflicts = oracle-xe
	options = !strip
	source = manual://download/file/from/oracle/page/oracle-database-xe-18c-1.0-1.x86_64.rpm
	source = oracle_env.csh
	source = oracle_env.sh
	source = oracle-xe-18c
	source = oracle-xe-18c.conf
	source = oracle-xe-18c.service
	md5sums = 56af7b3b58abdee310aa74f8f88e16ad
    md5sums = 648ee79a2a72beb83195288df0e5a544
    md5sums = e3947cdec45dbf2d357f6ff25559ac15
    md5sums = ebbbf1a3274db64099222f53900112cf
	md5sums = eec78d5e1551355120d06a3796b63e70
    md5sums = ad0c555e8546a369c3829ec1486dff97
    md5sums = c494d521fd59a1f88bec7a181f28bd82

pkgname = oracle-xe

