[Unit]
Description=Oracle XE

[Service]
Type=oneshot
ExecStart=/etc/init.d/oracle-xe-18c start
ExecStop=/etc/init.d/oracle-xe-18c stop
RemainAfterExit=yes 
